Contact tracing works?
<div>
  <mat-form-field class="example-full-width">
    <mat-label>Employee</mat-label>
    <input
      type="text"
      placeholder="Pick an Employee"
      matInput
      [(ngModel)]="selectedEmployee"
      (ngModelChange)="filterComplete($event)"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let employee of filteredOptions" [value]="employee">
        {{ employee.lastName }}, {{ employee.firstName }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker" (click)="picker.open()">
      <input matStartDate placeholder="Start date" />
      <input matEndDate placeholder="End date" />
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker="matDateRangePicker"></mat-date-range-picker>
  </mat-form-field>
</div>
