/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~angular-calendar/css/angular-calendar.css";


$primary: #3f51b5;
$primary-transparent: #3f51b533;
$accent: #ff4081;
$accent-transparent: #ff408133;


// layout
.main-wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    app-navbar{
        position: sticky;
        z-index: 1000;
        top: 0;
    }

    app-sidebar{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    
        mat-sidenav-container{
            flex-grow: 1;
        }
    }
}

mat-sidenav {
    mat-nav-list{
        min-width: 200px;
    }
}

a.mat-list-item.active {
    border-left: 4px solid $primary;
    background-color: $primary-transparent;
}

.nav-section {
    .mat-expansion-panel-body {
        padding: 0;
    }
}

app-sidebar {
    .mat-nav-list{
        padding-top: 0;
    }

    .mat-expansion-panel{
        border-radius: 0;
    }
}

.category-header {
    display: flex;
    align-items: center;
}

.text-muted {
    font-size: 80%;
    color: lightslategray;
}

.office-availability-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

table {
    width: 100%;
}

.percentage-card {
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}