<mat-toolbar color="primary" class="position-sticky">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon (click)="navToggle.emit()">menu</mat-icon>
   </button>
   <span>COVID19 - OfficeSpace</span>
   <button mat-icon-button class="ml-auto" aria-label="Example icon-button with heart icon">
     <mat-icon>favorite</mat-icon>
   </button>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
 </mat-toolbar>