<mat-toolbar color="primary" class="position-sticky">
  <button
    mat-icon-button
    class="example-icon mr-2"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon (click)="navToggle.emit()">menu</mat-icon>
  </button>
  <span class="mr-auto">COVID-19 Office Space</span>
  <span class="mx-3">{{getName()}}</span>
  <button
    mat-icon-button
    class="example-icon mr-3"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
  <button mat-raised-button *ngIf="!auth.loggedIn" (click)="auth.login()">Log In!</button>
  <button mat-raised-button *ngIf="auth.loggedIn" (click)="auth.logout()">Log Out</button>
</mat-toolbar>
