<mat-nav-list>
    <div mat-subheader>Employees</div>
    <mat-list-item *ngFor="let employee of data" (click)="editEmployee(employee)">
        <mat-icon mat-list-icon>face</mat-icon>
        <div mat-line>{{employee.lastName}}, {{employee.firstName}}</div>
        <div mat-line>{{employee.title}}</div>                
    </mat-list-item>    
</mat-nav-list>
<button mat-button (click)="newEmployee()">Create new employee</button>

<div *ngIf="selectedEmployee">
    <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput type="text" [(ngModel)]="selectedEmployee.firstName">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput type="text" [(ngModel)]="selectedEmployee.lastName">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput type="text" [(ngModel)]="selectedEmployee.title">        
    </mat-form-field>    
    <mat-checkbox [(ngModel)]="selectedEmployee.isApprover">Is Approver</mat-checkbox>
    <div id="file-upload-container" (click)="fileInput.click()">
        <div id="file-upload-container-label">
            <span>Click to select files</span>
        </div>
        <input hidden type="file" #fileInput (change)="uploadFile($event.target.files, setPreviewUrl)">
    </div>
    <ng-container *ngIf="selectedEmployee.avatar !== null">
        <div class="d-flex flex-justify-center image-container w-100">
            {{selectedEmployee | json}}
            <img [src]="sanitizer.bypassSecurityTrustResourceUrl(selectedEmployee.avatar)" [ngStyle]="{'max-width.px': imageDims.width, 'max-height.px': imageDims.height}"/>            
        </div>
        <div>
        <mat-form-field>
            <mat-label>Width</mat-label>
            <input matInput type="number" [(ngModel)]="imageDims.width">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Height</mat-label>
            <input matInput type="number" [(ngModel)]="imageDims.height">
        </mat-form-field>
        </div>
    </ng-container>
    <button mat-button (click)="saveChanges(selectedEmployee)">Save</button>
</div>
