<div class="mat-elevation-z2 m-2">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="Office">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="office.name">Office</th>
        <td mat-cell *matCellDef="let row">
           {{ row.office.officeName }}
           <app-percentage 
                [numerator]="row.officeUsedCapacity"
                [denominator]="row.office.officeSafeCapacity"
                [numeratorLabel]="'Used'"
                [denominatorLabel]="'Safe Capacity'"
                #officePercentage
                class="mr-auto"
            >
            </app-percentage>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="Section">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Section</th>
        <td mat-cell *matCellDef="let row"> 
          {{ row?.section?.sectionName }}
          <app-percentage 
                [numerator]="row.sectionUsedCapacity"
                [denominator]="row.section.sectionSafeCapacity"
                [numeratorLabel]="'Used'"
                [denominatorLabel]="'Safe Capacity'"
                #sectionPercentage
                class="mr-auto"
            >
            </app-percentage>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="StartTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="startTime">Requested Date</th>
        <td mat-cell *matCellDef="let row"> {{ row?.startTime| date }}</td>
      </ng-container>

      <ng-container matColumnDef="Employee">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="person.lastName">Employee</th>
        <td mat-cell *matCellDef="let row"> {{ row?.person.firstName }}, {{ row?.person.lastName }}</td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row"> 
          <div class="text-right">
            <button mat-raised-button color="primary">Accept</button>
            <button mat-raised-button color="warn" class="ml-4">Reject</button>
          </div>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
  </div>