<mat-tab-group>
    <mat-tab label="Availability by Date">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-4 col-md-6" *ngFor="let office of offices| async">
                    <app-building-availability [day]="selectedDay" [office]="office" [showCloseBtn]="false"></app-building-availability>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Availability by Office">
        <ng-template matTabContent>
            <app-office-availability-calendar [office]="o"></app-office-availability-calendar>
        </ng-template>
    </mat-tab>
</mat-tab-group>